@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lora:ital@1&family=Montaga&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, serif;
    font-weight: 400;
    color: black;
}

#index-body {
    background-image: url('../images/page-background.jpg');
}

#menu-body {
    background-image: url('../images/page-background.jpg');
}

#contact-us-body {
    background-image: url('../images/page-background.jpg');
}

/* headings */

h1,
h2,
h3 {
    font-family: Lora, serif;
    font-size: 48px;
    letter-spacing: 2px;
    color: rgb(119, 4, 4);
    text-shadow: 2px 2px #000000;
}

/* paragraph styling */

p {
    font-family: montaga, serif;
    font-size: 25px;
}

/* header styling */

.header {
    padding-top: 25px;
    padding-bottom: 75px;
    background-color: rgb(119, 4, 4);
    width: 100%;
}

#logo {
    font-family: Italianno, cursive;
    font-weight: 400;
    font-size: 500%;
    margin-left: 25px;
    float: left;
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}

/* navigation links */

#menu {
    font-size: 150%;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
    float: right;
    color: azure;
    list-style: none;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-size: larger;
}

.active {
    border-bottom: 5px double azure;
}

/* hero image styling */

#hero-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center / cover;
}

#quote {
    text-align: center;
    color: rgb(119, 4, 4);
    font-size: 25px;
    margin: 50px 0;
}

/* about us section styling */

#about-us {
    text-align: center;
    margin: 0 250px;
}

/* opening times and find us here styling */

#times-location-section {
    text-align: center;
}

#opening-times {
    float: left;
    padding: 25px;
    text-align: center;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    height: 500px;
    width: 500px;
    margin: 50px 50px 200px 75px;
}

.opening-times {
    list-style: none;
    font-size: 25px;
}

button {
    background-color: rgb(119, 4, 4);
    color: azure;
    height: 75px;
    width: 300px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

#find-us {
    float: right;
    padding: 25px;
    text-align: center;
    height: 500px;
    width: 500px;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    margin: 50px 75px 200px 50px;
}

.mapouter {
    position: relative;
    height: 400px;
    width: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-left: 50px;
}

/* menu page styling */

#alacarte-menu {
    text-align: center;
    margin: 50px 50px 50px 50px;
}

#alacarte-menu h2 {
    font-size: 50px;
    background-color: #deac6b;
    border: 10px double rgb(119, 4, 4);
    border-radius: 50%;
    padding: 20px;
    width: 500px;
    height: 75px;
    margin: 0 auto;
}

#alacarte-menu h3 {
    font-size: 35px;
}

#starter {
    background-color: #deac6b;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 50px 50px 150px 50px;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    width: 500px;
    height: 500px;
    float: left;
    position: relative;
}


#main-course {
    background-color: #deac6b;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 50px 50px 150px 50px;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    width: 500px;
    height: 500px;
    float: right;
    position: relative;
}

#dessert {
    background-color: #deac6b;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 50px 50px 150px 50px;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    width: 500px;
    height: 500px;
    float: left;
    position: relative;
}

.menu-image-left {
    background-color: #deac6b;
    padding: 20px;
    margin: 50px 50px 150px 50px;
    border: 10px double rgb(119, 4, 4);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    float: left;
    position: relative;
}

.menu-image-left img {
    border-radius: 50%;
}

.menu-image-right {
    background-color: #deac6b;
    padding: 20px;
    margin: 50px 50px 150px 50px;
    border: 10px double rgb(119, 4, 4);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    float: right;
    position: relative;
}

.menu-image-right img {
    border-radius: 50%;
}

/* contact us page styling */

.contact-us {
    margin: 50px 200px;
}

#call-us {
    display: block;
    padding: 25px;
    text-align: center;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    height: 100px;
    width: 750px;
    margin: 0 auto;
}

#call-us p {
    font-size: 30px;
}

#booking {
    font-size: 25px;
    display: block;
    padding: 25px;
    text-align: center;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    height: 750px;
    width: 750px;
    margin: 0 auto;
}

/* Style inputs, submit and reset */

input {
    text-align: center;
    font-size: large;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    background-color: rgb(119, 4, 4);
    color: azure;
    height: 75px;
    width: 200px;
    font-size: larger;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}

#reset {
    background-color: azure;
    color: rgb(119, 4, 4);
    height: 75px;
    width: 200px;
    font-size: larger;
    border-radius: 10px;
    border-color: rgb(119, 4, 4);
    float: left;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* footer styling */

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(119, 4, 4);
    color: azure;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline-block;
    margin: 25px 50px;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: azure;
}

.social-networks i:hover {
    font-size: 200%;
}

/* Media queries */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

    #index-body {
        background-image: url('../images/index-page-background.jpg');
    }

    #menu-body {
        background: url('../images/index-page-background.jpg');
    }

    #contact-us-body {
        background: url('../images/index-page-background.jpg');
    }


    /* Header */

    .header {
        height: 75px;
        width: 100%;
    }

    #logo {
        font-size: 350%;
    }

    #nav {
        font-size: 100%;
    }

    #hero-image {
        width: 100%;
        height: 250px;
    }

    #about-us {
        margin: 0 25px;
    }

    /* About us, opening times and find us here */

    #about-us p {
        font-size: 20px;
    }


    #opening-times {
        float: none;
        padding: 0;
        text-align: center;
        height: 500px;
        width: 80%;
        margin: 10px auto;
        box-shadow: none;
    }

    #opening-times h2 {
        font-size: 25%;
    }

    .opening-times {
        list-style: none;
        font-size: 150%;
    }

    button {
        height: 50px;
        width: 250px;
        font-size: 20px;

    }

    #find-us {
        float: none;
        padding: 0;
        text-align: center;
        height: 400px;
        width: 80%;
        margin: 0 auto 200px auto;
        box-shadow: none;
    }

    .mapouter {
        position: relative;
        height: 275px;
        width: 300px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 275px;
        width: 80%;
        border-radius: 10px;
        margin-left: 35px;
    }

    /* menu page */

    #alacarte-menu {
        text-align: center;
        margin: 25px;
    }

    #alacarte-menu h2 {
        font-size: 25px;
        width: 75%;
        height: 40px;
        text-shadow: none;
    }

    #alacarte-menu h3 {
        font-size: 25px;
        text-shadow: none;
    }

    #alacarte-menu p {
        font-size: 15px;
        text-shadow: none;
    }

    #starter {
        text-align: center;
        width: 80%;
        height: 300px;
        float: none;
        margin: 25px 250px 0 0;
    }

    #main-course {
        text-align: center;
        width: 80%;
        height: 300px;
        float: none;
        margin: 25px 250px 0 0;
    }

    #dessert {
        text-align: center;
        width: 80%;
        height: 300px;
        float: none;
        margin: 25px 250px 100px 0;
    }

    .menu-image-left {
        display: none;
    }

    .menu-image-right {
        display: none;
    }

    /* contact us page styling */

    .contact-us {
        margin: 50px auto;
        width: 80%;
    }

    #call-us {
        display: inline-block;
        padding: 0;
        text-align: center;
        box-shadow: none;
        height: 150px;
        width: 100%;
    }

    #call-us p {
        font-size: 25px;
    }

    #booking {
        font-size: 25px;
        display: inline-block;
        padding: 0;
        text-align: center;

        box-shadow: none;
        height: 750px;
        width: 100%;
    }

    /* Style submit and reset */


    #submit {
        text-align: center;
        height: 50px;
        width: 150px;
        font-size: medium;
        float: riht;
    }

    #reset {
        text-align: center;
        height: 50px;
        width: 150px;
        font-size: medium;
        float: left;
    }

    /* footer stlying */

    .footer {
        width: 100%;
        ;
    }

    .social-networks>li {
        display: inline-block;
        margin: 25px 20px;
    }

    .social-networks i {
        font-size: 150%;
        margin: 2%;
        padding: 5%;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */

    @media only screen and (min-width: 600px) and (max-width: 750px) {

        .header {
            margin: 50px;
            padding-bottom: 150px;
            display: block;
        }


        #logo {
            float: none;
            text-align: right;
        }



        /* navigation links */

        #menu {
            font-size: 50%;
            color: rgb;
            float: none;
            text-align: left;
        }




    }

    /* Medium devices (landscape tablets, 768px and up) */

    @media only screen and (max: width 850px) {
        #starter {
            float: none;
            margin: 0 auto;
        }

        #main-course {
            float: none;
            margin: 0 auto;
        }

        #dessert {
            float: none;
            margin: 0 auto;
        }

        .menu-image-left {
            display: none;
        }

        .menu-image-right {
            display: none;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */

    @media only screen and (min-width: 992px) {
        #about-us {
            text-align: center;
            margin: 0 25px;
        }

        #opening-times {
            float: none;
            margin: 50px auto;
        }

        #find-us {
            float: none;
            margin: 50px auto 150px auto;
        }

        #alacarte-menu h3 {
            width: 100%;
        }

        #starter {
            background-color: #deac6b;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin: 0;
            border-radius: 10px;
            border: 10px double rgb(119, 4, 4);
            width: 50%;
            height: 500px;
            float: left;
            position: relative;
        }


        #main-course {
            background-color: #deac6b;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin: 0;
            border-radius: 10px;
            border: 10px double rgb(119, 4, 4);
            width: 50%;
            height: 500px;
            float: right;
            position: relative;
        }

        #desserts {
            background-color: #deac6b;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin: 0;
            border-radius: 10px;
            border: 10px double rgb(119, 4, 4);
            width: 50%;
            height: 500px;
            float: left;
            position: relative;
        }

        .menu-image-left {
            background-color: #deac6b;
            padding: 20px;
            margin: 0;
            border: 10px double rgb(119, 4, 4);
            border-radius: 50%;
            width: 50%;
            height: 500px;
            display: flex;
            float: left;
            position: relative;
        }

        .menu-image-right {
            background-color: #deac6b;
            padding: 20px;
            margin: 0;
            border: 10px double rgb(119, 4, 4);
            border-radius: 50%;
            width: 50%;
            height: 500px;
            display: flex;
            float: right;
            position: relative;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */

    @media only screen and (min-width: 1200px){

        #opening-times {
            margin: 50px 50px 200px 250px;
        }

        #find-us {
            margin: 50px 250px 200px 50px;
        }

        #starter {
            margin: 50px 50px 150px 250px;
        }

        #main-course {
            margin: 50px 250px 150px 50px;
        }

        #dessert {
            margin: 50px 50px 150px 250px;
        }

        .menu-image-left {
            margin: 50px 50px 150px 250px;
        }

        .menu-image-right {
            margin: 50px 250px 150px 50px;
        }
    }