@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lora:ital@1&family=Montaga&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: Lora, serif;
    font-weight: 400;
    color: black;
}

#index-body {
    background-image: url('../images/page-background.jpg');
}

#menu-body {
    background-image: url('../images/page-background.jpg');
}

#contact-us-body {
    background-image: url('../images/page-background.jpg');
}

/* headings */

h1,
h2,
h3 {
    font-family: Lora, serif;
    font-size: 48px;
    letter-spacing: 2px;
    color: rgb(119, 4, 4);
    text-shadow: 2px 2px #000000;
}

/* paragraph styling */

p {
    font-family: montaga, serif;
    font-size: 25px;
}

/* header styling */

.header {
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 25px;
    background-color: rgb(119, 4, 4);
    width: 100%;
}

#logo {
    font-family: Italianno, cursive;
    font-weight: 750;
    color: azure;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    line-height: 50px;
    float: left;
}

/* navigation links */

#menu {
    font-size: 100%;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
    color: azure;
    list-style: none;
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

#menu,
#logo {
    line-height: 50px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-size: larger;
}

.active {
    border-bottom: 5px double azure;
}

/* hero image styling */

#hero-image {
    background: url('../images/hero-image-mobile.jpeg') no-repeat center / cover;
    height: 250px;
    width: 100%;

}

#quote {
    text-align: center;
    color: rgb(119, 4, 4);
    font-size: 25px;
    margin: 50px;
}

/* about us section styling */

#about-us {
    text-align: center;
    margin: 0 25px;
}

/* opening times and find us here styling */

#times-location-section {
    text-align: center;
    margin-bottom: 150px;
}

#opening-times {
    text-align: center;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    height: 500px;
    width: 330px;
    margin: 25px auto;
    padding-bottom: 15px;
}

.opening-times {
    list-style: none;
    font-size: 20px;
}

button {
    background-color: rgb(119, 4, 4);
    color: azure;
    height: 75px;
    width: 300px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

#find-us {
    text-align: center;
    height: 500px;
    width: 330px;
    margin: 25px auto;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    padding-bottom: 15px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 280px;
    padding-left: 25px;
}

<a href="https://www.embedgooglemap.net">embed google maps into website</a>.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 280px;
}


/* menu page styling */

#alacarte-menu {
    text-align: center;
    width: fit-content;
    margin: 50px auto 100px auto;
}

#alacarte-menu h2 {
    font-size: 35px;
    background-color: #deac6b;
    border: 10px double rgb(119, 4, 4);
    border-radius: 50%;
    padding: 25px;
    width: 250px;
    height: 75px;
    margin: 25px;
}

#alacarte-menu h3 {
    font-size: 35px;
}

#starter {
    background-color: #deac6b;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    width: 325px;
    height: 600px;
    position: relative;
    margin: 25px;
}

#main-course {
    background-color: #deac6b;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    width: 320px;
    height: 650px;
    position: relative;
    margin: 25px;
}

#dessert {
    background-color: #deac6b;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    width: 320px;
    height: 550px;
    position: relative;
    margin: 25px;
}

.menu-image-left {
    background-color: #deac6b;
    border: 10px double rgb(119, 4, 4);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 50px 25px;
}

.menu-image-left img {
    border-radius: 50%;
}

.menu-image-right {
    background-color: #deac6b;
    padding: 20px;
    border: 10px double rgb(119, 4, 4);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
    text-align: center;
    margin: 50px 25px;
}

.menu-image-right img {
    border-radius: 50%;
}

/* contact us page styling */

.contact-us {
    text-align: center;
    width: fit-content;
    margin: 50px auto 100px auto;
}

#call-us {
    display: block;
    padding: 25px;
    text-align: center;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    height: 100px;
    width: 300px;
    margin: auto;
}

#call-us p {
    font-size: 30px;
}

#booking {
    font-size: 25px;
    display: block;
    padding: 25px;
    text-align: center;
    background-color: #deac6b;
    border-radius: 10px;
    border: 10px double rgb(119, 4, 4);
    box-shadow: 5px 5px rgb(119, 4, 4);
    height: 900px;
    width: 300px;
    margin: auto;
}

/* Style inputs, submit and reset */

input {
    text-align: center;
    font-size: large;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    background-color: rgb(119, 4, 4);
    color: azure;
    height: 75px;
    width: 200px;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

#reset {
    background-color: azure;
    color: rgb(119, 4, 4);
    height: 75px;
    width: 200px;
    font-size: larger;
    border-radius: 10px;
    border-color: rgb(119, 4, 4);
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* footer styling */

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(119, 4, 4);
    color: azure;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline-block;
    margin: 25px 25px;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: azure;
}

.social-networks i:hover {
    font-size: 200%;
}

/* Media Queries */

/* For medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

    /* header styling */
    .header {
        padding-top: 25px;
    }

    #logo {
        font-weight: 400;
        font-size: 500%;
        margin-left: 25px;
    }

    /* navigation links */

    #menu {
        font-size: 150%;
        float: right;
        padding-right: 25px;
    }

    /* hero image styling */

    #hero-image {
        height: 750px;
        background: url('../images/hero-image.jpg') no-repeat center / cover;
    }

    /* menu page styling */

    #alacarte-menu {
        text-align: center;
        width: fit-content;
        margin: 50px auto 100px auto;
    }

    #alacarte-menu h2 {
        font-size: 50px;
        padding: 20px;
        width: 500px;
        height: 75px;
        margin: 0 auto;
    }

    #starter {
        padding: 20px;
        margin: 50px 50px 50px 50px;
        width: 500px;
        height: 550px;
        position: relative;
    }

    #main-course {
        padding: 20px;
        margin: 50px 50px 50px 50px;
        width: 500px;
        height: 550px;
        position: relative;
    }

    #dessert {
        padding: 20px;
        margin: 50px 50px 150px 50px;
        width: 500px;
        height: 550px;
        position: relative;
    }

    img {
        width: 500px;
        height: 500px;
    }

    .menu-image-left {
        padding: 20px;
        margin: 50px 50px 150px 50px;
        width: 500px;
        height: 500px;
    }

    .menu-image-right {
        padding: 20px;
        margin: 50px 50px 150px 50px;
        width: 500px;
        height: 500px;
    }

    /* contact us page styling */
    
    #call-us {
        height: 100px;
        width: 550px;
        margin: 0 auto;
    }

    #booking {
        height: 750px;
        width: 550px;
        margin: 0 auto;
    }

    /* Style submit and reset */

    #submit {
        float: right;
    }

    #reset {
        float: left;
    }
}

/* For large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #opening-times {
        float: left;
        margin-left: 100px;
        margin-bottom: 150px;
    }

    #find-us {
        float: right;
        margin-right: 100px;
        margin-bottom: 150px;
    }

    /* contact us page styling */


    #call-us {
        height: 100px;
        width: 750px;
        margin: 0 auto;
    }

    #booking {
        height: 750px;
        width: 750px;
        margin: 0 auto;
    }

    /* Style submit and reset */

    #submit {
        float: right;
    }

    #reset {
        float: left;
    }
}

/* For XL devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    #opening-times {
        margin-left: 250px;
    }

    #find-us {
        margin-right: 250px;
    }

    /* menu page styling */

    #starter {
        margin: 50px 50px 150px 90px;
        width: 400px;
        height: 500px;
        float: left;
    }

    #main-course {
        margin: 50px 90px 150px 50px;
        width: 400px;
        height: 500px;
        float: right;
    }

    #dessert {
        margin: 50px 50px 150px 90px;
        width: 400px;
        height: 500px;
        float: left;
    }

    img {
        width: 400px;
        height: 400px;
    }

    .menu-image-left {
        width: 400px;
        height: 400px;
        float: left;
        margin: 50px 50px 150px 90px;
    }

    .menu-image-right {
        width: 400px;
        height: 400px;
        float: right;
        margin: 50px 90px 150px 50px;
    }
}

/* For 2XL devices (large laptops and desktops, 1500px and up) */

@media only screen and (min-width: 1500px) {
    #opening-times {
        margin-left: 400px;
    }

    #find-us {
        margin-right: 400px;
    }

    /* menu page styling */

    #starter {
        margin: 50px 50px 150px 200px;
        width: 400px;
        height: 500px;
    }

    #main-course {
        margin: 50px 200px 150px 50px;
        width: 400px;
        height: 500px;
    }

    #dessert {
        margin: 50px 50px 150px 200px;
        width: 400px;
        height: 500px;
    }

    img {
        width: 475px;
        height: 500px;
    }

    .menu-image-left {
        width: 475px;
        height: 500px;
        margin: 50px 50px 150px 200px;
    }

    .menu-image-right {
        width: 475px;
        height: 500px;
        margin: 50px 200px 150px 50px;
    }
}